<div class="container swipe-box">
  <div class="swipe-box" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <img class="center-block" src={{currentImage}} alt="">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div>
      <div class="col-sm-6" (click)="clickNo()">
        <button class="center-block hidden-xs btn-lrg">No, thanks</button>
      </div>
      <div class="col-sm-6" (click)="clickYes()">
        <button class="center-block hidden-xs btn-lrg">I'd eat that</button>
      </div>
    </div>
  </div>
</div>
