<div class="container">
	<div class="row landingPage" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
		<div class="text-center col-12">
			<div class="row justify-content-center">
		    <div>
		    <!-- this is the sign up button on the landing page -->
		      <div class="col-sm-6" (click)="signUp()">
		        <button class="center-block btn-lg btn-primary">Sign Up</button>
		      </div>
		      <!-- this is the log in button on the landing page -->
		      <div class="col-sm-6" (click)="login()">
		        <button class="center-block btn-lg btn-primary">Login</button>
		      </div>
		    </div>
		  </div>
		  <div class="row">
		  	<div class="col-lg-12 mx-auto text-center" id="valueProp">
		  		<p>Hey there, welcome to Foodr! Are you hungry but not sure what you want to eat? Do you like looking at pictures of food? Do you like making snap judgements and impulse decisions? We thought so.</p>
		  		<p>Foodr is here for you! Simply signup or login and we'll find restaurants nearby and show you pictures of their food. Then swipe left to pass or right to like and we'll match you with restaurants based on your preferences.</p>
		  		<p>It's like your favorite dating app... but for food.</p>
		  	</div>
		  </div>
		</div>
	</div>
</div>
