
	<div class="row landingPage" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
		<div class="text-center col-12">
			<div class="row justify-content-center">
		    <div>
		    <!-- this is the sign up button on the landing page -->
		      <div class="col-sm-6" (click)="signUp()">
		        <button class="center-block btn-lg btn-primary">Sign Up</button>
		      </div>
		      <!-- this is the log in button on the landing page -->
		      <div class="col-sm-6" (click)="login()">
		        <button class="center-block btn-lg btn-primary">Login</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

