
	<div class="row landingPage" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
		<div class="text-center col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
			<div class="row">
				<h4>Already a user</h4>
				<button 
					type="button" 
					id="topButton" 
					class="btn btn-primary btn-lg" 
					(click)="signUp()">
						Sign up
				</button>
			</div>
			<div class="row">
				<h4>Sign up!</h4>
				<button 
					type="button" 
					id="bottomButton" 
					class="button" 
					type="button" 
					class="btn btn-secondary btn-lg" 
					(click)="login()">Login
				</button>
			</div>
		</div>
	</div>

