<!-- use bootstrap img-circle for bio photos -->
<!-- source bio photos from github profiles -->
<!-- don't forget img alt -->
<!-- link to github profiles too -->

<div class="container">
	<div class="row">
		<div class="text-center">
			<h1>ABOUT</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 mx-auto text-center">
			<h3>Alex</h3>
			<br>
			<img class="img-circle img-fluid center-block" src="https://avatars1.githubusercontent.com/u/2714982?v=4&s=460" alt="picture of Alex">
			<br>
			<p>Favorite place to travel to: Ski Resorts</p>
			<p><a href="https://github.com/alexliinc">GitHub</a></p>
		</div>
		<div class="col-lg-6 mx-auto text-center">
			<h3>David</h3>
			<br>
			<img class="img-circle img-fluid center-block" src="https://avatars0.githubusercontent.com/u/24509797?v=4&s=460" alt="picture of David">
			<br>
			<p>Favorite place to travel to: El Paso, TX</p>
			<p><a href="https://github.com/oakesrandall">GitHub</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 mx-auto text-center">
			<h3>Marshall</h3>
			<br>
			<img class="img-circle img-fluid center-block" src="https://avatars3.githubusercontent.com/u/22262172?v=4&s=460" alt="picture of Marshall">
			<br>
			<p>Favorite place to travel to: ... </p>
			<p><a href="https://github.com/m2creger">GitHub</a></p>
		</div>
		<div class="col-lg-6 mx-auto text-center">
			<h3>Rett</h3>
			<br>
			<img class="img-circle img-fluid center-block" src="https://avatars1.githubusercontent.com/u/28675148?v=4&s=460" alt="picture of Rett">
			<br>
			<p>Favorite place to travel to: Ouray, Colorado</p>
			<p><a href="https://github.com/RettBehrens">GitHub</a></p>
		</div>
	</div>
</div>











