<h1>ABOUT</h1>

<h3>Alex</h3>
<img class="img-circle center-block" src="https://avatars1.githubusercontent.com/u/2714982?v=4&s=460" alt="picture of Alex">
<p>this is alex Bio</p>
<p><a href="https://github.com/alexliinc">GitHub</a></p>

<h3>David</h3>
<img class="img-circle center-block" src="https://avatars0.githubusercontent.com/u/24509797?v=4&s=460" alt="picture of David">
<p>this is David Bio</p>
<p><a href="https://github.com/oakesrandall">GitHub</a></p>

<h3>Marshall</h3>
<img class="img-circle center-block" src="https://avatars3.githubusercontent.com/u/22262172?v=4&s=460" alt="picture of Marshall">
<p>this is Marshall Bio. Also, no mere camera can capture all that awesome.</p>
<p><a href="https://github.com/m2creger">GitHub</a></p>

<h3>Rett</h3>
<img class="img-circle center-block" src="https://avatars1.githubusercontent.com/u/28675148?v=4&s=460" alt="picture of Rett">
<p>this is Rett Bio</p>
<p><a href="https://github.com/RettBehrens">GitHub</a></p>
