<div class="row signupPage">
	<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
		<form (ngSubmit)="onSignup(newUser)">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" [(ngModel)]="newUser.email"
				class="form-control">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" [(ngModel)]="newUser.password" class="form-control"
				[minlength]="6">
			</div>
			<button class="btn btn-success" type="submit">Signup</button>
		</form>
	</div>
</div>